.personalData {
    margin-left: 56px;
    width: 482px;

    h2 {
        margin-bottom: 24px;
    }

    &__role {
        font-family: var(--font-montserrat);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: var(----dark-shade);
        margin-bottom: 24px;
    }
}