.authtorisation__cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 685px;
  background-image: url(../../../assets/icons/cover.svg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: cover
}