.heading_name,
.cell_name {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 0 0 10px !important;
}

.heading_role {
    text-align: center;
    max-width: 100% !important;
}

.note{
    position: absolute !important;
    top: 5px;
    right: 5px;
}
.item_role{
    padding-right: 0;
}